package layout

templ Main(title string){
    <html>
    <head>
        <script src="/public/js/htmx.min.js"/>
        <script src="/public/js/response-targets.js"/>
        <title>{title}</title>
    </head>
    <body>
        {children...}
    </body>
    </html>
}